<!-- código omitido -->

<head>
<!-- código omitido -->
    
    <link rel="stylesheet" href="style.css">
    // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 300 to 800

.parkinsans-<uniquifier> {
  font-family: "Parkinsans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
<!-- código omitido -->
</head>

<!-- código omitido -->
body {
    background-color: #1D4221;
    color: white;
    font-family: "Bai Jamjuree", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
}

button {
    background-color: #64A712;
    color: white;
    font-family: "Bai Jamjuree", sans-serif;
}
.passo.ativo {
    display:block;
}
main {
    text-align: center;
    max-width: 90%;
}
img {
    max-width: 90%;
}